<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/css_bs2.css">
</head>

<body>
    <div class="col">
        <main>
            <div class="image-container">
                <img src="/images/1684818462507.jpg" alt="" class="slide">
                <img src="/images/getty_473909426_129584 (1).jpg" alt="" class="slide">
                <img src="/images//images.jpg" alt="" class="slide">
            </div>
        </main>
        <div class="nav">

            <button onclick="gonext" id="next">></button>
            <button onclick="goprev" id="back">
                <</button>
        </div>
        <div class="navbar">
            <div class="bor">
                <div class="box"><button class="navbar1" id="home">Home</button></div>
                <div class="box"><button class="navbar1">About</button></div>
                <div class="box"><button class="navbar1">Service</button></div>
                <div class="box"><button class="navbar1">Team</button></div>
                <div class="box"><button class="navbar1">Project</button></div>
                <div class="box"><button class="navbar1">Pages</button></div>
                <div class="box"><button class="navbar1">Contact</button></div>
            </div>
        </div>

        <div id="sitename">
            Disease Prediction
        </div>
        <div class="date">
            Office Timings
        </div>
        <div class="week">Mon-Fri 8.00Am-9.00Pm</div>
        <div class="callus">Call us:</div>
        <img class="clock" src="/images/icons8-clock.svg" alt="">
        <img class="call" src="/images/phone-call-svgrepo-com.svg" alt="">
        <div class="num">+91 987654321</div>
        <div class="we">

            <div id="we">Unable to meet Doctor? </div>
            <div id="for">Just tell your symptoms</div>
            <div id="forbb">
                <a href="http://127.0.0.1:5000"><button id="forb">Predict your  Disease</button></a>
                
            </div>
        </div>
        <div>
            <div class="buttom">
                <div class="work" id="j1">
                    <img class="image_icon" src="/images/worker-svgrepo-com.svg" alt="">
                    <div class="expert">Trained Model</div>
                    <div class="worker">
                        Our trained model has the capability to accurately predict diseases and infections 
                        by analyzing the symptoms provided

                    </div>
                </div>
                <div class="build">
                    <img class="image_icon" src="/images/factory-svgrepo-com.svg" alt="">
                    <div class="expert">Quality work</div>
                    <div class="worker">Our work that is done with attention to detail, precision, and care, and that
                        meets high standards of quality.</div>
                </div>
                <div class="callcenter" id="j2">
                    <img class="image_icon" src="/images/user-speak-svgrepo-com.svg" alt="">
                    <div class="expert">24/7 Support</div>
                    <div class="worker">customers can get assistance at any time, even outside of regular business hours. This can be especially helpful for businesses or individuals who need urgent or timely</div>
                </div>
                
                
            </div>
        </div>




        <script src="jsbs2.js"></script>
</body>

</html>